
body {
  background-color: white;
  margin: 0px;
  font-family: $fontDinRound;
  transition:
    background-color 0.2s ease;

  &.alt {
    background-color: #3fd;
  }

}

canvas#bg {
  z-index: 1;
  position: fixed;
  display: block;
  top: 0px;
  left: 0px;
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
}
