body {
  background: white;
  margin: 0px;
  font-family: $fontDinRound;
}

canvas#bg {
  z-index: 1;
  position: fixed;
  display: block;
  top: 0px;
  left: 0px;
  padding: 0px;
  margin: 0px;
  width: 100vw;
  height: 100vh;
}

section#info {

  z-index: 2;
  position: absolute;
  bottom: 50px;
  left: 50px;
  margin-right: 75px;

  p {
    margin: 0px;
    padding: 0px;
    color: black;
    font: 65px/75px $fontDinRound;

    em {
      font-style: normal;
    }

    &:hover {
      span.intro {
        background-color: #3fd;
        color: darken(#3fd, 25%);

        a {
          text-decoration: underline;
        }

      }
    }

    span {

      &.intro {
        padding: 5px;
        background-color: #cf0;
        color: darken(#cf0, 20%);

        transition:
          color 0.1s ease,
          background-color 0.1s ease;

        em {
          color: black;
        }


      }

      &.links {
        font-size: 14px;
        line-height: 15px;
        letter-spacing: 0.03em;
        text-transform: uppercase;

        a {
          text-decoration: none;
          display: inline-block;
          position: relative;
          top: -15px;
          padding: 8px 8px 5px 8px;
          margin-right: 5px;
          background-color: black;
          color: white;

          &:hover {
            opacity: 0.5;
          }

        }

      }

    }

    a {
      color: inherit;
      text-decoration: none;

      &:hover {
        color: black;
      }

    }

  }

}

::selection {
  background-color: black;
  color: black;
}

::-moz-selection {
  background-color: black;
  color: black;
}
